<table mat-table [dataSource]="clients">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let client"> {{client.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let client"> {{client.name}} </td>
    </ng-container>
    <ng-container matColumnDef="businessName">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let client"> {{client.businessName}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td mat-cell *matCellDef="let client"> {{client.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> E-Mail </th>
        <td mat-cell *matCellDef="let client"> {{client.mail}} </td>
    </ng-container>
    <ng-container matColumnDef="adress">
        <th mat-header-cell *matHeaderCellDef> Adresse </th>
        <td mat-cell *matCellDef="let client"> {{client.adress}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>